.visor-wrapper {
  width: 100%;
  height: 80px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
}

p.content {
  padding: 26px 20px;
  text-align: right;
  font-size: 25px;
  font-family: sans-serif;
  margin: 0;
}
